


<div class="container mt-5">
    <button type="button" class="btn btn-primary"  data-bs-toggle="modal" data-bs-target="#staticBackdrop">
       Agregar Producto
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container mt-5">
                    <!--  llamamos al controlador en el ts -->
                     <form [formGroup]="nuevosproducts">
                          <img [src]="imagen" width="150" alt="sin imagen">
                         <div class="mb-3">
                             <label for="exampleFormControlInput1" class="form-label">Ingresar nombre del producto</label>
                             <input type="text" class="form-control"  placeholder="nombre" formControlName="nombre">
                         </div>
                         <div class="mb-3">
                             <label for="exampleFormControlInput1" class="form-label">Ingresar precio del producto</label>
                             <input type="number" class="form-control"  placeholder="precio" formControlName="precio">
                         </div>
                         <div class="mb-3">
                             <label for="exampleFormControlInput1" class="form-label">ingresar descripcion del producto</label>
                             <input type="text" class="form-control"  placeholder="descripcion" formControlName="descripcion">
                         </div>
                         <div class="mb-3">
                          <label for="exampleFormControlInput1" class="form-label">ingresar imagen del producto</label>
                          <input type="file" class="form-control"  placeholder="imagen" accept=".jpg, .png, .gif" (change)="cargarImagen($event)">
                      </div>
                         <button type="button" class="btn btn-primary" (click)="agregarProducto()">{{textoboton}}</button>
                     </form>
                    
                 </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Understood</button>
            </div>
          </div>
        </div>
      </div>
</div>
<!-- Button trigger modal -->

  


<div class="container mt-5">
    <div class="row">
        <div *ngFor="let producto of productos" class="col">
            <div class="card" style="width: 18rem;">
              <img src={{producto.imagen}} class="card-img-top" alt="..." >
                <div class="card-body">
                  <h5 class="card-title">{{producto.nombre}}</h5>
                  <h6 class="card-subtitle mb-2 text-muted">{{producto.precio}}</h6>
                  <p class="card-text">{{producto.descripcion}}</p>
                  <button type="button" class="btn btn-primary"  (click)="actualizarProductos()">editar</button>
                <button  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" (click)="mostarEditar(producto)">Seleccionar</button>
                

                 <!-- Button trigger modal -->
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="mostrarEliminarProducto(producto)" >
                    eliminiar
                  </button>

                  <!-- Modal -->
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          ¿Esta seguro que desea eliminar?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          <button class="btn btn-success" (click)="eliminarProducto(producto)" data-bs-dismiss="modal"> eliminiar </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>